@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.cryptoData .card {
    transition: all .2s ease-in-out;
    width: 18%;
    height: 150px;
    border-radius: 10px !important;
    border: 2px solid #002971 !important;
}

.card:hover {
    transform: scale(1.1);
}

.container {
    padding: 40px 0;
    h5 {
      text-transform: uppercase;
      text-align: center;
      font-size: 30px;
      margin: 0;
    }
}

.cryptoData {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

