@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../media/fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

body {
    font-family: 'Myriad Pro Regular';
    margin: 0;
    overflow-x: hidden;
}

li {
    list-style: none;
}